@model IEnumerable<MVC.ViewModels.OrderVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section orders">
    <div class="container">
        <h2 class="section__title">Orders</h2>
        <ul class="orders__list list">
            @foreach (var order in Model)
            {
                <partial name="_order" model="order" />
            }
        </ul>
    </div>
</section>

