@model MVC.ViewModels.CatalogViewModels.IndexViewModel

@{
    ViewData["Title"] = "Catalog";
}

<section class="catalog">
    <div class="container">
        <h2 class="catalog__title">Catalog</h2>
        <form asp-action="Index" asp-controller="Catalog" method="post" class="catalog__filters filters">
            <div class="filters__group">
                <h3 class="filters__title">Filter by Type</h3>
                <select asp-for="@Model.BrandFilterApplied" asp-items="@Model.Brands">
                    <option value="all">All Brands</option>
                </select>
            </div>
            <button class="button">Apply filtres</button>
            <div class="filters__group filters">
                <h3 class="filters__title">Filter by Brand</h3>
                <select asp-for="@Model.TypesFilterApplied" asp-items="@Model.Types">
                    <option value="all">All Types</option>
                </select>
            </div>
        </form>
        @if (Model.Products.Count() > 0)
        {
            <ul class="catalog__list list">
                @foreach (var catalogItem in Model.Products)
                {
                    <partial name="_product" model="catalogItem" />
                }
            </ul>

            <partial name="_pagination" for="PaginationInfo" />
        }
        else
        {
            <div>
                THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
            </div>
        }
    </div>
</section>

