@using MVC.Services.Interfaces

@inject IIdentityParser<ApplicationUser> UserManager

@if (Context.User.Identity!.IsAuthenticated)
{
    <form asp-area=string.Empty asp-controller="Account" asp-action="SignOut" method="post" id="logoutForm" class="navbar-right">
            <a class="header__button button">Logout</a>
            <span class="header__username">@UserManager.Parse(User).Name</span>
    </form>
}
else
{
    <a asp-area=string.Empty asp-controller="Account" asp-action="SignIn" class="header__button button">Login</a>
}
