@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}


<section class="basket">
    <div class="container">
        <h2 class="section__title">Basket</h2>
        <ul class="basket__list list tablelist">
            @foreach (var product in Model)
            {
                <partial name="_tableProduct" model="product" />
            }
        </ul>
        <form class="order-form" asp-action="Order" asp-controller="Orders">
            <span class="order-form__totalprice">Total Price: @Model.Sum(p => p.Price * p.Amount)</span>
            <button type="submit" class="button">Order</button>
        </form>
    </div>
</section>
